 /* Banner */

 #banner {
    background-color: #666666;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #d8d8d8;
    padding: 14em 0;
    text-align: center;
    position: relative;
}

    #banner:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(64, 72, 80, 0.25);
    }

    #banner .inner {
        position: relative;
        z-index: 1;
    }

        #banner .inner :last-child {
            margin-bottom: 0;
        }

    #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
        color: #ffffff;
    }

    #banner .button.alt {
        box-shadow: inset 0 0 0 1px rgba(144, 144, 144, 0.75);
        color: #ffffff !important;
    }

        #banner .button.alt:hover {
            background-color: rgba(144, 144, 144, 0.275);
        }

        #banner .button.alt:active {
            background-color: rgba(144, 144, 144, 0.4);
        }

        #banner .button.alt.icon:before {
            color: #c1c1c1;
        }

    #banner .button {
        min-width: 12em;
    }

    #banner h2 {
        font-size: 3.5em;
        line-height: 1em;
        margin: 0 0 0.5em 0;
        padding: 0;
    }

    #banner p {
        font-size: 1.5em;
        margin-bottom: 2em;
    }

        #banner p a {
            color: #ffffff;
            text-decoration: none;
        }


/** Search result dropdown **/
.search__results {
    display: block;
    background: #fff;
    list-style: none;
    padding: 0px;
    font-size: 14px;
    transition: 0.2s ease;
    position: absolute;
    width: 550px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 2px;
    border: 0;
    z-index: 999; top: 45px; right: 0px;
    line-height: 22px;
}
.search__results.is-hidden {
    opacity: 0;
    transform: translateY(-1vh);
    display: none;
}
.search__results > li {
    border-top: 1px solid #f0f0f0;
    padding: 10px;
}
.search__results > li > a {
    padding: 10px;
}
