
<!DOCTYPE html>
<html lang="Ko">

  {% include head.html %}

  <body>
    <header class="site-header">
        {% include navigation.html %}
    </header>


    <main>
        {% if page.layout == 'home' %}
        <div class="site-main-banner">
            <h1 class="project-name">{{ page-title }}</h1>
            <h2 class="project-tagline">{{ page-tagline }}</h2>
        </div>
        {% endif %}

        <div class="site-main">
            {{ content }}
        </div>
    </main>

    {% include footer.html %}
  </body>
</html>


